@page "/"

<PageTitle>Home</PageTitle>

<h1>TOTP</h1>
<h3>(Time-based One-Time Password)</h3>

<br />

@if (!string.IsNullOrEmpty(_qrCodeAsBase64))
{

	<p>1) Scan this QR code with your Authenticator app :</p>
	<img src="data:image/png;base64,@_qrCodeAsBase64" width="200" height="200" />

	<br />

	<p class="mt-2">2) Write the code your application provides here</p>
	<input class="digit @(_isValid ? "valid" : "invalid")"
		   type="text" 
		   placeholder="Code"
		   max="6"
		   @bind="_userCode"
		   @onkeydown="@((KeyboardEventArgs e) => { if (e.Key == "Enter") VerifyCode(); })" />
	<br />
	<button class="btn btn-primary mt-2" @onclick="VerifyCode">Check Code</button>

	if (_isValid)
	{
		<p>Code valid!</p>
	}
	else
	{
		<p>Invalid code!</p>
	}
}
