@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


<br />

@if (!string.IsNullOrEmpty(_qrCodeAsBase64))
{

	<img src="data:image/png;base64,@_qrCodeAsBase64" width="200" height="200" />
	<p>Scanne ce QR code avec votre app Authenticator</p>

	<br />

	<input class="digit" type="text" @bind="_userCode" placeholder="Code" max="6"  />
	<br />
	<button @onclick="VerifyCode">Vérifier</button>

	if (_isValid)
	{
		<p>Code valide !</p>
	}
	else 
	{
		<p>Code invalide !</p>
	}
}
